<p id="notice"><%= notice %></p>

<h1>Students</h1>
    
<table class="table table-hover">

  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">AGE</th>
    </tr>
  </thead>

<br>

  <tbody>
    <tr class="table-dark">
      <%#<th scope="row">Dark</th>%>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= link_to 'Show', student, class:"btn btn-danger" %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class:'btn btn-success' %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary' %></td>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table> 

<%= link_to 'New Student', new_student_path %>